[push]
	default = simple
[user]
	name = Jonathan Creekmore
	email = jonathan@thecreekmores.org

[alias]
	review = !sh -c 'repo=$1 && repo=${repo:=origin/master} && git --no-pager log --reverse --oneline ${repo}.. | nl' -v
	revshow = !sh -c 'repo=$1 && repo=${repo:=origin/master} && git --no-pager log --reverse --oneline ${repo}.. | head -n ${0} | tail -n 1 | cut -f1 -d \" \" | xargs git show'
	sreview = log origin/master..HEAD --reverse -p
    prc = !sh -c 'git fetch origin pull/${1}/head:pr/${1} && git checkout pr/${1}' -
[core]
	excludesfile = /Users/jonathan/.gitignore_global

	pager = delta
[delta]
    features = decorations

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
    line-numbers = true

[credential]
	helper = osxkeychain
	helper = cache --timeout=3600
[sendemail]
	from = Jonathan Creekmore <jonathan.creekmore@gmail.com>
	smtpserver = smtp.gmail.com
	smtpuser = jonathan.creekmore@gmail.com
	smtpencryption = tls
	smtpserverport = 587
[branch]
	autosetuprebase = always
[log]
	decorate = auto
[color]
	ui = auto
[credentials]
	helper = store
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[url "ssh://git@github.rackspace.com/"]
	insteadOf = https://github.rackspace.com/
