[push]
	default = simple
[user]
	name = Jonathan Creekmore
	email = jonathan@thecreekmores.org

[alias]
	review = !sh -c 'repo=$1 && repo=${repo:=origin/master} && git --no-pager log --reverse --oneline ${repo}.. | nl' -v
	revshow = !sh -c 'repo=$1 && repo=${repo:=origin/master} && git --no-pager log --reverse --oneline ${repo}.. | head -n ${0} | tail -n 1 | cut -f1 -d \" \" | xargs git show'
	sreview = log origin/master..HEAD --reverse -p
[core]
	excludesfile = /Users/jonathan/.gitignore_global
	pager = delta --dark --theme='Solarized (dark)'
[credential]
	helper = osxkeychain
	helper = cache --timeout=3600
[sendemail]
	from = Jonathan Creekmore <jonathan.creekmore@gmail.com>
	smtpserver = smtp.gmail.com
	smtpuser = jonathan.creekmore@gmail.com
	smtpencryption = tls
	smtpserverport = 587
[branch]
	autosetuprebase = always
[log]
	decorate = auto
[color]
	ui = auto
