[push]
	default = simple
[sendemail]
	from = Jonathan Creekmore <jonathan.creekmore@gmail.com>
	smtpserver = smtp.gmail.com
	smtpuser = jonathan.creekmore@gmail.com
	smtpencryption = tls
	smtpserverport = 587
